@import "../../sass/mixins";
@import "../../sass/variables";

.button {
  &__login {
    margin: 0.5rem;
    border: none;
    background-color: $primaryolive;
    font-size: 2rem;
    padding: 0.5rem;
    height: 4rem;
    width: 7rem;
    border-radius: 0.5rem;
    @include make-3d;
    &:hover {
      background-color: darken($color: $primaryolive, $amount: 3%);
    }
    &:focus {
      outline: 0;
    }
  }
  &__register {
    margin: 0.5rem;
    border: none;
    background-color: $primarybrown;
    font-size: 2rem;
    color: white;
    height: 4rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    @include make-3d;
    &:hover {
      background-color: darken($color: $primarybrown, $amount: 3%);
    }
    &:focus {
      outline: 0;
    }
  }
  &__next {
    margin: 0.5rem;
    border: none;
    background-color: #bfbdb2;
    font-size: 2rem;
    color: $primaryblack;
    height: 4rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    @include make-3d;
    &:hover {
      background-color: darken($color: $primarybrown, $amount: 3%);
    }
    &:focus {
      outline: 0;
    }
  }
}
